@charset "UTF-8";

html {
    height: 120vh;
}

body {
    height: 100vh;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #e8f279 10%, #4987eb 60%);
}

header {
    text-align: center;
}

h1 {
    width: 100%;
    height: 200px;
}

h1 img {
    width: 150px;
    margin-top: 140px;
}

header p {
    font-size: 1.8rem;
    color: #fff;
    height: 70px;
}

#container {
    width: 270px;
    height: auto;
    margin: auto;
    border-radius: 10px;
    background-color: #c0c0c0;
    background: rgba(0, 40, 0, 0.1);
}

form p {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
}

form label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 0.8rem;
    color: #fff;
    margin-left: 20px;
}

.input {
    margin-left: 20px;
    width: 230px;
    height: 35px;
    border-radius: 5px;
    border: none;
}

.pass input {
    margin-left: 20px;
    width: 230px;
    border-radius: 5px;
    border: none;
    height: 35px;
}


.btn-danger {
    margin-top: 20px;
    margin-left: 150px;
    width: 100px;
    border-radius: 5px;
}


form p a {
    /* font-size: 0.8rem; */
    color: #fff;
}

form p a:hover {
    text-decoration: none;
    color: #fff;
}


/* 新規ユーザー登録 */
h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
}

label,
input {
    display: block;
}


.login-btn p a {
    font-size: 1.1rem;
}

/* ユーザー登録完了画面 */
#clear {}

#clear p {
    text-align: center;
    padding: 5px;
    color: #fff;
}

.add {
    font-weight: bold;
    padding: 30px;
}

#clear p a {
    text-align: center;
    font-size: 0.8rem;
    color: #fff;
}

#clear .btn-danger {
    width: 120px;
    margin-left: 70px;
    margin-bottom: 35px;
}
