@charset "utf-8";

html {}

body {}



/* header */
header {
    width: 100%;
    background: #186AC9;
    height: 70px;
}

h1 {
    width: 90px;
    margin: 10px;
}

#head h1 a {
    width: 100%;
}

img {
    width: 100%;
}

.nav-open p {
    color: #f7ecf1;
}

.icon {
    width: 40px;
    margin: 10px;
}

/* main content */
#head {
    display: flex;
}

#head {
    align-items: center;
    position: relative;
}

#row {
    display: flex;
    width: 100%;
    /* flex-flow: row wrap; */
}

#container {
    height: 100%;
    flex: 0 0 80%;
    border-right: 1px solid #727272;
}

/* TOPページ */


/* サイドバー */

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

#confirm {
    border-bottom: 1px solid #727272;
    height: 230px;
    font-size: 0.8rem;
}

#confirm p {
    padding: 10px;
    padding-top: 15px;
}

.count {
    display: flex;
}

.follow-btn {
    width: 130px;
    height: 30px;
    text-align: center;
    font-size: 0.7rem;
    margin-left: 75px;
    padding: .5em;
    border: none;
    border-radius: 5px;
    background-color: #186AC9;
    color: #fff;
}

.follow-btn a {
    color: #fff;
    text-decoration: none;
}

.search-btn {
    width: 120px;
    text-align: center;
    margin: 10px;
    margin-top: 20px;
    margin-left: 50px;
    padding: .5em;
    border: none;
    border-radius: 5px;
    background-color: #186AC9;
    color: #fff;
}

.search-btn a {
    color: #fff;
    text-decoration: none;
}

.search-button img {
    border-radius: 5px;
}

.btn {
    padding: .5em;
    border: none;
    width: 130px;
}

.post-btn {
    padding: .5em;
    margin-left: 50px;
    display: block;
    width: 50px;
    padding-top: 80px;
}


.post-btn img {
    border-radius: 5px;
}



.nav-open p {
    font-weight: bold;
    margin-top: 20px;
}



/* 常時開いたままにしないよう設定 */
.nav-open ul {
    display: none;
}

.nav-open {
    display: flex;
    position: relative;
    margin: 0 0 0 auto;
    float: right;
    outline: 0;
    border-top: none;
    outline: 0;
}


.nav-open a {
    transition: 0.3s;
}

.menu-btn {
    display: flex;
    font-size: 1.25rem;
    padding: 10px;
    padding-left: 10px;
    width: 50px;
    background-color: transparent;
    color: #fff;
    position: relative;
}

.menu-btn::after {
    content: '>';
    position: absolute;
    display: block;
    height: 8px;
    top: 3%;
    transform: rotate(-90deg);
    transform: translateY();
}

.nav-open ul li a:hover {
    color: #fff;
    text-decoration: none;
}

.nav-open ul li:hover {
    background-color: #186AC9;
}

.menu-btn.open::after {
    display: flex;
    transform: rotate(90deg);
}

.nav-open nav {
    margin-top: 15px;
    width: 40px;
}

.nav-open ul {
    position: absolute;
    top: 69px;
    right: 0;
    width: 276px;
    height: 50px;
    border-color: darkblue;
    display: flex;
    background-color: #fff;
    text-align: center;
    flex-flow: column;
}

.nav-open ul li {
    width: 100%;
    padding: 30px 50px 30px 50px;
    border: 1px solid;
    text-align: center;
    background-color: #fff;
}





/* 投稿フォーム */

.form-group {
    outline: none;
    padding-top: 50px;
    width: 70%;
}

.form-group input {
    width: 500px;
    height: 40%;
    padding: 0;
    border-radius: 5px;
}

.btn-success {
    width: 50px;
}


.content {
    margin: 0 auto;
    padding: 40px;
}

/* TOP */
.container {
    display: flex;
    height: 150px;
}



.top-icon {
    padding-top: 30px;
    width: 10%;
    margin: 10px;
}

.top-icon img {
    width: 40px;
    margin-left: 50px;
}

.form-control {
    width: 500px;
    line-height: 3;
    border: none;
}

.form-control::placeholder {
    color: #aaa;
}

.container button img {
    border-radius: 5px;
    margin-left: 50px;
}

.post {
    display: flex;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #727272;
}

.post article {
    display: block;
    width: 15%;
}

.post article img {
    width: 40px;
    margin-left: 120px;
}

.follow-post {
    display: block;
    width: 600px;
    font-size: 0.8rem;
}

.follow-post p {
    padding: 10px;
}

.follow-post2 {
    /* background-color: #727272; */
    overflow-wrap: break-word;
    height: 100%;
}

.follow-post3 {
    width: 20%;
    font-size: 0.7em;
}

.follow-post3 p {
    text-wrap: nowrap;
    padding-top: 15px;
    padding-left: 120px;
}

.post-icon {
    display: flex;
    padding-left: 150px;
}

.post-icon img {
    width: 30px;
    text-align: center;
    margin: 10px;
    padding: 0;
    /* background-color: #727272; */
    /* padding: .5em; */
    border: none;
    border-radius: 5px;
    color: #fff;
}

.trash {
    cursor: pointer;
}

.trash img {
    margin-top: 28px;
    width: 35px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

.trash:hover img:nth-of-type(2) {
    opacity: 0;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

/* プロフィール */

.profile {
    width: 1020px;
}

.information {
    display: flex;
    width: 100%;
}

.information article {
    width: 30%;
    height: 100%;
    /* background-color: #75A9FF; */
}


.information article figure img {
    margin-left: 250px;
    padding-top: 25px;
    width: 40px;
}

.profile-information {
    width: 70%;
    height: 100%;
    padding-top: 25px;
}

.profile-information div {
    padding: 20px;
    display: flex;
}

.profile-information div label {
    width: 30%;
}

.profile-information1 input {
    border-width: 1px;
    width: 300px;
    background-color: #dcdcdc;
    border-radius: 5px;
}

.profile-images label {
    display: inline-block;
}

.custom-file input {
    border-width: 1px;
    width: 300px;
}

.update-btn input {
    margin-left: 150px;
}





/* アイコン */
.user-icon {
    width: 200px;
    height: 120px;
    /* background-color: #727272; */
}

.user-icon figure {
    padding-left: 140px;
}

.user-icon figure img {
    width: 40px;
    padding-top: 30px;
    margin: 0;
}

/* ユーザー情報 */
.user-information {
    display: flex;
    width: 800px;
    height: 130px;
    margin-left: 5px;
}

.user-add {
    display: block;
    width: 70%;
}

/* ユーザー名 */
.user-name {
    display: flex;
    width: 100%;
    padding: 40px 0 10px 0;
    border-bottom: 1.1rem;
}



.user-name p:first-of-type {
    width: 20%;
}



.user-bio {
    display: flex;
}

.user-bio p:first-of-type {
    width: 20%;
    margin-top: 20px;
}

.user-bio p:last-of-type {
    width: 80%;
    margin-top: 20px;
}

.unfollow-btn {
    width: 30%;
}

.unfollow-btn button {
    margin-top: 70px;
    margin-left: 130px;
}

.unfollow-btn button a {
    font-size: 0.8rem;
    color: #fff;
    text-decoration: none;
}



.unfollow-btn1 button {
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    background-color: #EE0000;
    border: none;
}

.unfollow-btn2 button {
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    background-color: #75A9FF;
    border: none;
}


.container {
    display: flex;
    height: 150px;
    border-bottom: 5px solid #dcdcdc;
}

.container form {
    display: flex;
    padding-top: 50px;
    padding-left: 50px;
}

/* 検索 */




.container1 {
    display: flex;
    height: 150px;
    border-bottom: 5px solid #dcdcdc;
}

.container1 form {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.search {
    padding-left: 50px;
}

.text-box {
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-top: 50px;
}

/* .container1 form input {
    width: 300px;
    height: 40px;
    padding: 10px;
}

.container1 form input:last-of-type {
    width: 100%;
    height: 40%;
    padding: 0;
    margin-left: 10px;
    border-radius: 5px;
} */

.container1 input::placeholder {
    color: #aaa;
}

.container1 h2 {
    font-size: 1.2rem;
    padding-top: 50px;
    padding-left: 50px;
    width: 500px;
}

.search-button {
    display: block;
    width: 60px;
    padding-top: 10px;
}


.search-user {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}


.search-username {
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 10px;
    width: 200px;
}

.search-icon {
    width: 35%;
    margin: 10px;
    padding-left: 10px;
}

.search-icon img {
    width: 40px;
    margin-left: 280px;
}

.search-button1 {
    margin-top: auto;
    margin-bottom: auto;
}

.search-button1 a {
    text-decoration: none;
}

.search-button2 a {
    text-decoration: none;
}

.search-button1 button {
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    background-color: #EE0000;
    border: none;
}

.search-button2 {
    margin-top: auto;
    margin-bottom: auto;
}

.search-button2 button {
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    background-color: #75A9FF;
    border: none;
}

.search-user button a {
    color: #fff;
    font-size: 0.8rem;
}

/* フォロー/フォロワーリスト */


.follow-title {
    width: 23%;
    white-space: nowrap;
    text-align: center;
    font-size: 1.4rem;
    height: 90%;
    padding-top: 20px;
}

.follow-title h1 {
    margin-left: 90px;
    margin-top: 20px;
}

.follower-list-icon {
    display: flex;
    width: 500px;
    font-size: 0;
}

.follower-list-icon ul li {
    margin-top: 20px;
    /* background-color: #75A9FF; */
}



.follow-user {
    display: flex;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #727272;
    padding-top: 10px;

}

.follow-icon {
    width: 15%;
    height: 100%;
}

.follow-icon img {
    width: 40px;
    margin-left: 100px;
    margin-top: 5px;
}
