@charset "utf-8";

html {}

body {}

/* header */
header {
    padding: 10px;
    background: #186AC9;
    height: 57px;
}

h1 {
    width: 90px;
    margin: 10px;
    /* margin-left: 10px;
    margin-top: 10px; */
}

#head h1 a {
    width: 100%;
}

img {
    width: 100%;
    /* size: 60px 70px; */
}

.nav-open p {
    color: #f7ecf1;
}

.icon {
    width: 40px;
    margin: 10px;
}

/* main content */
#head {
    display: flex;
}

#head {
    align-items: center;
    position: relative;
}

#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    height: 100%;
    flex: 0 0 80%;
    border-right: 1px solid #727272;
}



/* .menu-btn .tag {
    text-decoration: none;
} */

.nav-open p {
    font-weight: bold;
    margin-top: 20px;
}



/* 常時開いたままにしないよう設定 */
.nav-open ul {
    display: none;
}

.nav-open {
    display: flex;
    position: relative;
    margin-left: 940px;
    float: right;
    outline: 0;
    border-top: none;
    outline: 0;
}


.nav-open a {
    transition: 0.3s;
}

.menu-btn {
    display: flex;
    font-size: 1.25rem;
    padding: 10px;
    padding-left: 10px;
    width: 50px;
    background-color: transparent;
    color: #fff;
    position: relative;
}

.menu-btn::after {
    content: '>';
    position: absolute;
    display: block;
    height: 8px;
    top: 3%;
    transform: rotate(-90deg);
    transform: translateY();
}

.nav-open ul li a:hover {
    color: #fff;
}

.nav-open ul li:hover {
    background-color: #186AC9;
}

.menu-btn.open::after {
    display: flex;
    transform: rotate(90deg);
}

.nav-open nav {
    margin-top: 15px;
    width: 40px;
}

.nav-open ul {
    position: absolute;
    top: 67px;
    width: 100%;
    height: 50px;
    left: 10px;
    border-color: darkblue;
    display: flex;
    background-color: #fff;
    text-align: center;
    flex-flow: column;
}

.nav-open ul li {
    width: 140px;
    padding: 30px 50px 30px 50px;
    border: 1px solid;
    /* white-space: nowrap; */
    text-align: center;
    background-color: #fff;
}



/* サイドバー */

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

.btn {
    width: 150px;
    text-align: center;
    margin: 10px;
    padding: .5em;
    border: none;
    border-radius: 5px;
    background-color: #2589d0;
    color: #fff;
}

.btn a {
    color: #fff;
}

/* 投稿フォーム */

.form-group {
    outline: none;
}


.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

/* プロフィール編集 */
.profile tr {
    display: flex;
    flex-direction: column;
}
